
<div class="thefooter">
    <div class="footer_content">
        <span class="footer_copyright">
            ©  2018 dirus
        </span>
        <span class="footer-nav">
            <a href="#">first name</a>
            <a href="#">sec name</a>
            <a href="#">third name</a>
            <a href="#">fourth name</a>
        </span>

    </div>

</div>


</body>
</html>