[{"labelAnnotations":[{"mid":"/m/0215n","description":"cartoon","score":0.93565255,"topicality":0.93565255},{"mid":"/m/01ntw3","description":"human hair color","score":0.9108106,"topicality":0.9108106},{"mid":"/m/02h7lkt","description":"fictional character","score":0.8412009,"topicality":0.8412009},{"mid":"/m/025kyy","description":"forehead","score":0.7553421,"topicality":0.7553421},{"mid":"/m/0jxy","description":"anime","score":0.7184628,"topicality":0.7184628},{"mid":"/m/02xlf","description":"fiction","score":0.7026117,"topicality":0.7026117},{"mid":"/m/01kr8f","description":"illustration","score":0.58333886,"topicality":0.58333886},{"mid":"/m/02ksmb","description":"brown hair","score":0.57781905,"topicality":0.57781905},{"mid":"/m/02tx1k","description":"cg artwork","score":0.5212992,"topicality":0.5212992}],"webDetection":{"webEntities":[{"entityId":"/m/0gp5df","score":7.5728,"description":"Saitama"}],
"fullMatchingImages":[{"url":"https://pm1.narvii.com/6591/691daa63decd9ecd7a372359e784580802680138_hq.jpg"}],
"partialMatchingImages":[{"url":"https://uploads.disquscdn.com/images/e20b341dac8c959e4e33fe9447fbe02f33ed47e6d39369a3b733d0fb31c786db.jpg"}],
"pagesWithMatchingImages":[{"url":"https://aminoapps.com/c/anime/page/blog/goku-vs-saitama-epic-battle/bEto_umLZQoMePWDvq4KBz8ax4vBxP",
"pageTitle":"GOKU VS <b>SAITAMA EPIC</b> BATTLE | Anime Amino - Amino Apps",
"fullMatchingImages":[{"url":"https://pm1.narvii.com/6014/00229e016885486caf46190798d900c116a1af1d_hq.jpg"}]}],
"visuallySimilarImages":[{"url":"https://pre00.deviantart.net/bd6b/th/pre/f/2016/038/8/5/umvc3_moveset__saitama_by_anti_ho0f-d9mjqap.jpg"}],
"bestGuessLabels":[{"label":"saitama epic","languageCode":"en"}]}}]




<!-- =============================================== -->
<% element.data[0]["labelAnnotations"].forEach(function(data){ %>
    <li><%= data["description"] %></li>
    <% }) %>




    <div class="col-md-3">
        <p class="lead">Dirus</p>
        <div class="list-group">
            <li class="list-group-item active">Info 1</li>
            <li class="list-group-item">Info 2</li>
            <li class="list-group-item">Info 3</li>
        </div>
    </div>