<!DOCTYPE html>
<html>
    <head>
        <title>DIRUS</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
        <div id="landing-header">
            <h1><i class="fas fa-images" aria-hidden="true"></i> Welcome to DIRUS</h1>
            <a href="/detect" class="btn btn-lg btn-success">lets search</a>
        </div>
        <ul class="slideshow">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
<!-- <% include partials/footer %>